*{
    margin: 0;
    padding: 0;

}
h1, label{
    color:white;
}
#cocktail-img{
    background-image: url(CocktailPicture2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* width: 100vw; */
    position: relative;

}